<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Primeiro Site com Bootstrap</title>

        <!-- arquivo CSS do Bootstrap -->
        <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">

        <!-- jQuery -->
        <script src="bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap js -->
        <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

        <!-- Estilo para o Carousel -->
        <link href="bootstrap-3.3.7-dist/css/carousel.css" rel="stylesheet">

        <!-- Estilo para o Carousel -->
        <link href="bootstrap-3.3.7-dist/css/estilo.css" rel="stylesheet">

        <script type="text/javascript">
            $(document).ready(function ()
            {
                $("#contato").click(function () {
                    $('#modalContato').modal('show');
                });
            });
        </script>

    </head>

    <body>

        <!-- barra de navegação fixa -->
        <nav class="navbar navbar-default navbar-fixed-top">

            <!-- container do menu -->
            <div class="container">

                <!-- cabeçalho do menu -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- barra de links  -->
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="sobre.html">Sobre</a></li>
                        <li><a href="#" id="contato">Fale Conosco</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Links Úteis <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Educação</li>
                                <li><a href="http://www.periodicos.capes.gov.br/">Portal CAPES</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Notícias</li>
                                <li><a href="http://www.uol.com.br">UOL</a></li>
                                <li><a href="http://www.terra.com.br">Terra</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Carousel Slider (animação) -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- configuração dos slides -->
            <ol class="carousel-indicators">
                <!-- o zero indica que é o primeiro slide a ser mostrado -->
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- criação dos slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Primeiro Slide -->
                <div class="item active">
                    <img class="first-slide" src="imagens/slide1-yamaha.jpg" alt="Primeiro Slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>YAMAHA</h1>
                            <p>Aqui você pode!</p>
                            <p><a class="btn btn-lg btn-primary" href="https://wa.me/92982409881/?" role="button">Fale Conosco!</a></p>
                        </div>
                    </div>
                </div>

                <!-- Segundo Slide -->
                <div class="item">
                    <img class="second-slide" src="imagens/slidmercury.jpg" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>MERCURY</h1>
                            <p>Aqui você pode!</p>
                            <p><a class="btn btn-lg btn-primary" href="https://wa.me/92982409881/?" role="button">Fale Conosco!</a></p>
                        </div>
                    </div>
                </div>

                <!-- Terceiro Slide -->
                <div class="item">
                    <img class="third-slide" src="imagens/slid-suzuki.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>SUZUKI</h1>
                            <p class="text-justify">Aqui você pode!</p>
                            <p><a class="btn btn-lg btn-primary" href="https://wa.me/92982409881/?" role="button">Fale Conosco!</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Os dois links abaixo são para criar os botões de navegação laterais -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->

        <!-- inicio da sessão com o texto inicial da página -->
        <section id="sobre">
            <div class="container">
                <div class="row">
                    <div class="col-md-8"> <!-- divisão em 12 colunas -->
                        <div class="caption">
                            <h1>SEJA BEM VINDO À NÁUTICA CAPÔ!</h1>
                        </div>
                        <p>
                            Trabalhamos com diversas marcas e modelos de capôs como: Yamaha, Mercury, Suzuki,
                            Tohatsu, Evinrude, e muitos outros! Enviamos para todo o Brasil, venha conferir os
                            melhores preços do mercado apertando no botão <strong>Catálogo »</strong> logo 
                            abaixo e confira os modelos. Operamos nas modalidades: <strong>varejo e atacado</strong>. 
                            Solicite seu orçamento agora mesmo clicando no botão <strong>Fale Conosco</strong>, 
                            localizado logo acima e fale com um de nossos atendentes!
                        </p>
                    </div>

                    <!-- coloca a foto em destaque ao lado do parágrafo -->
                    <div class="col-lg-4"> <!-- alinha a coluna à direita -->
                        <div class="foto-destaque">
                            <img src="imagens/lancha.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /sobre -->

        <!-- monta um painel para exibição de três logotipos e alguma descrição -->
        <div class="container marketing">
            <div class="fundo">
                <div class="row">
                    <div class="col-lg-4"><!-- /.col-lg-4 -->
                        <img src="imagens/yamaha-15.jpg" alt="">
                        <h2>YAMAHA</h2>
                        <p>
                            Estes são capôs novos para motores de popa da marca YAMAHA. Temos de
                            diversas marcas e modelos, venha conferir!
                        </p>
                        <p><a class="btn btn-default" href="yamaha-catalago.htm" role="button">Catálogo »</a></p>
                    </div>

                    <div class="col-lg-4">
                        <img src="imagens/mercury-9.9.jpg" alt="">
                        <h2>MERCURY</h2>
                        <p>
                            Estes são capôs novos para motores de popa da marca MERCURY. Temos de
                            diversas marcas e modelos, venha conferir!
                        </p>
                        <p><a class="btn btn-default" href="mercury-catalago.html" role="button">Catálogo »</a></p>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-4">
                        <img src="imagens/suzuki-15-.jpg" alt="">
                        <h2>SUZUKI</h2>
                        <p>
                            Estes são capôs novos para motores de popa da marca SUZUKI. Temos de
                            diversas marcas e modelos, venha conferir!
                        </p>
                        <p><a class="btn btn-default" href="suzuki-catalago.html" role="button">Catálogo »</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div>

            <!-- Exemplo de bloco alinhado à esquerda -->
            <div class="row">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Bloco alinhado à esquerda</h2>
                    <p class="lead">Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum.</p>
                </div>
            </div>

            <!-- Exemplo de bloco alinhado à direita -->
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Bloco alinhado à direita</h2>
                    <p class="lead text-justify"> Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.</p>
                </div>
            </div>
        </div>

        <!-- painel dando destaque  -->
        <div class="destaque-painel">
            <section id="destaque-painel">
                <div class="container">
                    <a name="contato"></a>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h1 class="title"></h1>
                                <h1>NÁUTICA CAPÔ AGRADECE A SUA PREFERÊNCIA!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- aqui é o rodapé da página  -->
        <footer id="footer">
            <div class="container">
                <br>
                <div class="col-md-8">
                    <p>© 2023 Nome da Empresa Ltda. · <a href="#">Política de Privacidade</a> · <a href="#">Termos de Uso</a></p>
                </div>
                <div class="col-md-4">
                    <p class="pull-right"><a href="#">Voltar para o topo</a></p>
                </div>
            </div>
        </footer>

        <!-- Modal Fale Conosco -->
        <div id="modalContato" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h1 class="modal-title text-center"><strong>Fale Conosco</strong></h1>
                    </div>
                    <div class="modal-body">
                        <form name="fale" class="form-horizontal" action="" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputAssunto" class="col-lg-2 control-label">Assunto</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="inputAssunto" name="assunto">
                                            <option disabled selected>Selecione um assunto</option>
                                            <option>Dúvidas Gerais</option>
                                            <option>Comercial</option>
                                            <option>Financeiro</option>
                                            <option>Diretoria</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label for="inputNome" class="col-lg-2 control-label">Nome</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputNome" 
                                               name="nome" placeholder="Informe seu nome">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for
